<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="trace">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <File name="OutFile" fileName="thermocycle.o.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="ErrorFile" fileName="thermocycle.e.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="TraceFile" fileName="thermocycle.t.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="GUIFile" fileName="thermocycle.g.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="ReportFile" fileName="thermocycle.report.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{HH:mm:ss} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="trace">
        </Root>
        <Logger name="DebugLog" level="trace">
            <AppenderRef ref="OutFile" level="info"/>
            <AppenderRef ref="ErrorFile" level="error"/>
            <AppenderRef ref="TraceFile" level="trace"/>
        </Logger>
        <logger name="GUILog" level="trace">
            <AppenderRef ref="GUIFile" level="trace"/>
        </logger>
        <Logger name="ReportLog" level="trace">
            <AppenderRef ref="ReportFile" level="trace"/>
        </Logger>
    </Loggers>
</Configuration>
